<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=boutydata;AccountKey=tugVuwvqtJbgaBKChCp1asGvE2ruBiiqAaTDwlTt9P8FxXvz0+y0mmHwX/wnacIovSnyxBpyJrG8ufHE8Cln9g==" />
      <add key="ProductUpdateQueueName" value="productupdates" />
      <add key="VendorTableName" value="VendorData" />
      <add key="VendorProductTableName" value="VendorData" />
      <add key="PollFrequencyMilliseconds" value="1000"/>
      <add key="MaxUpdatesToShow" value="50"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>