<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
    <add key="ProductUpdateQueueName" value="productupdates" />
    <add key="VendorTableName" value="VendorData" />
    <add key="VendorProductTableName" value="VendorData" />
    <add key="PollFrequencyMilliseconds" value="1000"/>
    <add key="MaxUpdatesToShow" value="50"/>
  </appSettings>
</configuration>